*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color_rose:#E71D36;
}
.conteiner{
    height: 90vh;
    width: 100%;
    background-image: url(./image/acceuille.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.logo{
    font-size: 60px;
    margin: 1vh;
    margin-left:40px;
    color:var(--color_rose);
}

nav a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    margin: 27PX;
    margin-top: auto;
    line-height: 8vh;
}